
      .inline-scroll{
        vertical-align: middle;
        overflow-x: scroll; 
        width: auto;
      }
      .inline-item {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin-right: -4px;
        width: auto;
      }

      