/*html {
    box-sizing: border-box;
  }*/
  
  *, *:before, *:after {
    /*box-sizing: inherit;*/
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: auto) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 2px solid gray;
    border-radius: 5px;
    background-color: rgb(75, 75, 75, 0.5);
    box-shadow: 0 4px 8px 0 rgba(245, 131, 0, 0.2), 0 6px 20px 0 rgba(245, 131, 0, 0.19);
  }
  
  .container {
    padding: 0 8px;
  
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;

  }
  
  .title {
    color: grey;
   
    
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #04AA6D;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color:rgb(243, 96, 43);
  }

  .builders{
    width: 80%;
    height: 40%;
  }

