

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body{
    position: relative;
background-image: url("../images/background.jpg");

     background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@font-face { font-family: TisaSansPro-Regular; 
             src: url('../fonts/TisaSansPro-Regular.ttf');
             font-family: TisaSansPro-Bold; 
             src: url('../fonts/TisaSansPro-Bold.ttf');
             font-family: TisaSansPro-ExtraLight; 
             src: url('../fonts/TisaSansPro-ExtraLight.ttf');
            } 

h1{
    font-size: 40px;
    margin-top: 1%;
    text-align: center;
font-family: "Times New Roman", Times, serif;
color: white;
}

hr {
margin-left: -8px;
margin-right: -8px;
border: none;
margin-bottom:  20px;
}

.assistance{
    font-family: TisaSansPro-Bold;
    font-size: 250%;
    color:  white;
}

#rectangle1{
position: fixed;
float: left;
margin-top: -2%;
width:35%;
height:85%;
background: linear-gradient(to right, #ee0978d7, #ff6a00d5);
border: none;
border-radius: 30px;
}


#hello{
width: 65%;
}


.two{
    border: 1px solid black;
margin-left: 40px;
margin-right: 40px;
}

.user{
    margin-top: -1%
    width: 30%;
    height: 30%;
}

.call{
    width: 10%;
    height: 10%;
margin-right: 40%;
margin-top: 8%;
}

.numbers{
    font-family: TisaSansPro-Regular;
    color:  white;
    font-size: 2vw;
margin-right: -25%;
margin-top: -25%;
}

#rectangle2{
    position: fixed;
    margin-left: 5%;
    margin-top:  -1%;
width:25%;
height: 20%;
border: 2px solid black;
}

.clock1{
float:left;
margin-top: 45px;
margin-left: 100px;
}

.date1{
    font-family: TisaSansPro-Regular;
    color:  white;
font-size: 25px;
font-weight: bold;
margin-top: 	4%;
margin-left: 40px;
}

.time1{
    font-family: TisaSansPro-Regular;
font-weight: normal;
color:  white;
font-size: 20px;
font-top: -5px;
margin-left: 40px;
}

.clock2{
float:left;
margin-top: 30px;
margin-left: 100px;
}

.date2{
    font-family: TisaSansPro-Regular;
    color:  white;
font-size: 25px;
font-weight: bold;
margin-top: 20px;
margin-left: 120px;
}

.time2{
    font-family: TisaSansPro-Regular;
    color:  white;
font-weight: normal;
font-size: 20px;
font-top: -10px;
margin-left: 120px;
}

.email{
width:  14%;
height:  14%;
margin-top: 29%;
margin-left: -35%;
}

.contactus{
    font-family: TisaSansPro-Regular;
    color:  white;
font-size: 2vw;
margin-top: -10%;
margin-left: 20%;
}

.question {
background-color: #00aeef;
color: white;
cursor: pointer;
padding: 20px;
width: 75%;
text-align: left;
margin-left: 900px;
margin-top: 15px;
background: linear-gradient(to right, #ee0978d7, #ff6a00d5);
border-radius: 15px;
font-family: TisaSansPro-ExtraLight;
font-size: 30px;
border: none;
outline: none;
transition: 0.4s;
}

.active, .question:hover {
 background-image: url("../images/rectangle2.png");
}

.question:after {
content: '▼'; 
font-size: 13px;
color: white;
float: right;
margin-left: 5px;
}

.active:after {
content: '▲'; 
}

.answer {
color: white;
padding-top: 10px;
width: 75%;
text-align: left;
margin-left: 900px;
display: none;
max-height: 0;
background-image: url("../images/rectangle2.png");
border-radius: 15px;
overflow: hidden;
font-family: TisaSansPro-ExtraLight;
font-size: 25px;
transition: max-height 0.2s ease-out;
}

.buyer{
    font-family: TisaSansPro-Bold;
    font-size: 40px;
    float: left;
    margin-left:  900px;
    color: white;
}